/* Header e Navegação */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff; 
}

:root {
  --verde-escuro: #303233; 
  --verde: #c0c0c0;
  --orange: #ff7c37;
  --degrade-btn: linear-gradient(#fe9611, #ff5c00);
  --color-p: #a1a1a1;
  --color-p-2: #868585;
}

.container {
  max-width: 1440px;
  padding: 0 5%;
  margin: 0 auto;
}

section, footer {
  padding: 2.7rem 0;
}

header {
  position: fixed;        
  top: 0;                  
  left: 0;                 
  width: 100%;              
  z-index: 1000;         
  background-color: var(--verde-escuro); 
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0; 
}

.logo img {
  display: block;
}

.categorias-site {
  display: flex;
  align-items: center;
}

.categorias-site li {
  margin: 0 20px;
  font-size: 16px;
}

.categorias-site li a {
  color: white;
  position: relative;
  padding-bottom: 5px;
}

.categorias-site li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--orange);
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-out;
}

.categorias-site li a:hover::after {
  transform: scaleX(1);
}

.menu-icon {
  display: none; 
}

section .informacoes {
  display: flex;
  align-items: center;
  gap: 50px;
}
.Imagem img{
  width: 600px;
  margin: 5px;
  margin-top: 5px;
}
/* Footer */
footer {
  background-color: var(--verde-escuro);
  color: white;
  
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;    
}

footer .footer-coluna {
  min-width: 200px;
}

footer h3 {
  margin-bottom: 20px;
  color: var(--orange);
  font-size: 1.2rem;
  text-transform: uppercase;
}

footer p {
  font-size: 0.9rem;
  line-height: 1.6;
  color: white;
  margin-bottom: 20px;
}

footer ul li {
  margin-bottom: 12px;
}

footer a {
  color: white;
  transition: 0.3s;
  font-size: 0.95rem;
}

footer a:hover {
  color: var(--orange);
}

footer .redes-sociais {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

footer .redes-sociais img {
  width: 80px;
  height: auto;
  transition: transform 0.3s;
}

footer .redes-sociais img:hover {
  transform: scale(1.1); 
}
@media (max-width: 960px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  /* Estado Inicial do Menu (Escondido) */
  .categorias-site {
    display: flex; /* Mantemos flex para o layout funcionar */
    flex-direction: column;
    align-items: center;
    
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--verde-escuro);
    padding: 20px 0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    z-index: 999; 
    
    opacity: 0;                 
    visibility: hidden;         
    transform: translateY(-20px);
    transition: all 0.4s ease; 
  }

  /* 'Estado Ativo' é quando o js adiciona a classe .active */
  .categorias-site.active {
    opacity: 1;                 
    visibility: visible;       
    transform: translateY(0); 
  }
  
  .categorias-site li {
    margin: 15px 0;
  }
}
@media (max-width: 960px) {
  footer .container {
    flex-direction: column; 
    align-items: center;   
    text-align: center;
  }

  footer .footer-coluna {
    width: 100%;
    margin-bottom: 40px;
  }
  
  footer .redes-sociais {
    justify-content: center;
  }
}